Lab13-students/Part2/ITCS446.2020.Lab13.2NR.Flow.json
[{"id":"cdb3c559.e2371","type":"mqtt in","z":"d5b14bb1.156d58","name":"","topic":"esp32/temperature","qos":"2","datatype":"auto","broker":"d9072f10.62ada8","x":210,"y":340,"wires":[["c8e7a4bb.8bf778","a0260027.0c3e48","9c7d1af6.332ca8","5d1eaff2.95f688","4fa7af4e.2b1848"]]},{"id":"6bf730c6.b32998","type":"mqtt in","z":"d5b14bb1.156d58","name":"","topic":"esp32/humidity","qos":"2","datatype":"auto","broker":"d9072f10.62ada8","x":200,"y":300,"wires":[["d28d5dc2.10f568","3045145f.9429ac","f9de7aac.380068","5d1eaff2.95f688"]]},{"id":"c8e7a4bb.8bf778","type":"ui_chart","z":"d5b14bb1.156d58","name":"","group":"bc20b5f9.621e6","order":12,"width":0,"height":0,"label":"Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":730,"y":400,"wires":[[]]},{"id":"d28d5dc2.10f568","type":"ui_gauge","z":"d5b14bb1.156d58","name":"","group":"bc20b5f9.621e6","order":10,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b3d9","#0073e6","#001bd7"],"seg1":"33","seg2":"66","x":700,"y":220,"wires":[]},{"id":"689d6c0a.f0ba04","type":"ui_button","z":"d5b14bb1.156d58","name":"","group":"bc20b5f9.621e6","order":2,"width":0,"height":0,"passthru":false,"label":"LED ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"esp32/output","x":740,"y":620,"wires":[["2c938559.8bac9a"]]},{"id":"71d1e1fc.99a5b","type":"mqtt out","z":"d5b14bb1.156d58","name":"","topic":"esp32/output","qos":"","retain":"","broker":"d9072f10.62ada8","x":1470,"y":480,"wires":[]},{"id":"a0260027.0c3e48","type":"ui_gauge","z":"d5b14bb1.156d58","name":"","group":"bc20b5f9.621e6","order":8,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"*C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":440,"wires":[]},{"id":"3045145f.9429ac","type":"ui_chart","z":"d5b14bb1.156d58","name":"","group":"bc20b5f9.621e6","order":14,"width":0,"height":0,"label":"Humidity Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":720,"y":160,"wires":[[]]},{"id":"9c7d1af6.332ca8","type":"timestamp","z":"d5b14bb1.156d58","name":"time","x":690,"y":360,"wires":[["daf68cf7.945418"]]},{"id":"f9de7aac.380068","type":"timestamp","z":"d5b14bb1.156d58","name":"time","x":690,"y":280,"wires":[["c71c090f.7d0fe8"]]},{"id":"daf68cf7.945418","type":"mongodb out","z":"d5b14bb1.156d58","mongodb":"4a6433b8.5a9f4c","name":"","collection":"temperature","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1060,"y":360,"wires":[]},{"id":"c71c090f.7d0fe8","type":"mongodb out","z":"d5b14bb1.156d58","mongodb":"4a6433b8.5a9f4c","name":"","collection":"humidity","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1050,"y":280,"wires":[]},{"id":"5d1eaff2.95f688","type":"microgear","z":"d5b14bb1.156d58","name":"microgear","appid":"Lab1NodeREDGrk","key":"SX89XoxnfPIe4Xd","secret":"sIP9RVWqO4Yo1gR5nFjqdyDSX","alias":"DHT10","topics":"/#","active":true,"retain":"true","retainType":"bool","x":1456,"y":313,"wires":[[]]},{"id":"4fa7af4e.2b1848","type":"function","z":"d5b14bb1.156d58","name":"TempThreshold","func":"var temp = msg.payload; \nmsg.topic = \"esp32/output\";\nif (temp > 25)\n{\n    msg.payload = \"on\";\n}\nelse\n{\n    msg.payload = \"off\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":480,"wires":[["f5c40847.e921c"]]},{"id":"f5c40847.e921c","type":"function","z":"d5b14bb1.156d58","name":"EmitLed","func":"var led = flow.get('led') || 'off';\nif (msg.payload == 'on' && led == 'off') {\n    msg.payload = 'off'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":480,"wires":[["71d1e1fc.99a5b"]]},{"id":"3b3041d5.de9fde","type":"ui_button","z":"d5b14bb1.156d58","name":"","group":"bc20b5f9.621e6","order":4,"width":0,"height":0,"passthru":false,"label":"LED OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"esp32/output","x":740,"y":680,"wires":[["2c938559.8bac9a"]]},{"id":"2c938559.8bac9a","type":"function","z":"d5b14bb1.156d58","name":"ToggleLED","func":"flow.set(\"led\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":700,"wires":[["fa56bf05.d18c3","b96d5a6a.510808","12548271.a107c6"]]},{"id":"9f33613c.8e123","type":"microgear","z":"d5b14bb1.156d58","name":"microgear","appid":"Lab1NodeREDGrk","key":"SX89XoxnfPIe4Xd","secret":"sIP9RVWqO4Yo1gR5nFjqdyDSX","alias":"DHT10","topics":"/#","active":true,"retain":"true","retainType":"bool","x":436,"y":753,"wires":[["fb9c0077.a05bd8"]]},{"id":"fb9c0077.a05bd8","type":"function","z":"d5b14bb1.156d58","name":"LED_Message_Filter","func":"if (msg.topic.includes(\"led\")) {\n    return msg;\n}","outputs":1,"noerr":0,"x":716,"y":753,"wires":[["2c938559.8bac9a"]]},{"id":"b96d5a6a.510808","type":"ui_text","z":"d5b14bb1.156d58","group":"bc20b5f9.621e6","order":6,"width":0,"height":0,"name":"","label":"LED Status","format":": {{msg.payload}}","layout":"row-left","x":1470,"y":700,"wires":[]},{"id":"fa56bf05.d18c3","type":"function","z":"d5b14bb1.156d58","name":"LED_Filter_Off","func":"if (msg.payload == \"off\")\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1160,"y":760,"wires":[["71d1e1fc.99a5b"]]},{"id":"12548271.a107c6","type":"function","z":"d5b14bb1.156d58","name":"Status Mapper","func":"msg.topic = \"/esp32/led_status\"\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":440,"wires":[["971144e8.0ac088"]]},{"id":"971144e8.0ac088","type":"microgear","z":"d5b14bb1.156d58","name":"microgear2","appid":"MyESP32","key":"Lj7Bkr0baB94Gvq","secret":"XGEdgzDwG0IozLptaGo03HDSi","alias":"alias","topics":"/#","active":true,"retain":"true","retainType":"bool","x":1456,"y":393,"wires":[[]]},{"id":"d9072f10.62ada8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bc20b5f9.621e6","type":"ui_group","z":"","name":"Gauge","tab":"d4c66e32.c0f7b","order":1,"disp":true,"width":"6","collapse":true},{"id":"4a6433b8.5a9f4c","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"testdb_1","name":"testdb_1"},{"id":"d4c66e32.c0f7b","type":"ui_tab","z":"","name":"Gauge","icon":"Gauge","order":1,"disabled":false,"hidden":false}]