Lab13-students/Part2/Lab13.GrK.Ex1NR.json
[{"id":"ada18212.5e805","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b4130fc9.0cb118","type":"microgear","z":"ada18212.5e805","name":"microgear","appid":"Lab1NodeREDGrk","key":"Ld7mQA2cA4X4Yfx","secret":"jJeMm3VNsYYM897RSDoVsR42E","alias":"alias","topics":"/home/sensor","active":true,"retain":"true","retainType":"bool","x":640,"y":240,"wires":[["6428b732.56271"]]},{"id":"6428b732.56271","type":"debug","z":"ada18212.5e805","name":"msg.payload","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":240,"wires":[]},{"id":"9e603549.9adea8","type":"inject","z":"ada18212.5e805","name":"msg","topic":"/nodefreepieboard/alias","payload":"Hi! From NodeRED","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":240,"wires":[["b4130fc9.0cb118","48ed5ab2.8ad2b4"]]},{"id":"48ed5ab2.8ad2b4","type":"debug","z":"ada18212.5e805","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":380,"wires":[]}]